.vs/
*.ipch
*.sqlite
*.VC.db
*.opendb
*.sdf
*.cachefile
*.suo
*.user
*.sln.docstates

build/
out/
x64/
x86/
Debug/
Release/
bin/
obj/

.idea/
cmake-build-*/
*.iws
*.iml

.vscode/
.history/
.localhistory/
.vshistory/

*.ilk
*.pch
*.pdb
*.ipdb
*.iobj
*.log
*.tlog
*.tmp

lib/
PTSD/
node_modules/
__pycache__/